// .login-card {
//     width: 300px;
//     height: 500px;

// }
.box {
    width: 100%;
    height: 100vh;
    background-color: red;
    background: url(../../assets/login-background.png);
    background-size: 100% 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    >:only-child {
        height: 500px;
        width: 400px;
        margin-right: 200px;
    }
}

// .card {

// }