.box {
    width: 100%;
    height: 100vh;
    background-color: red;
    background: url(../../assets/login-background.png);
    background-size: 100% 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >:first-child {
        //图片
        height: 500px;
        width: 40%;
        margin-inline: 10%;
        display: flex;

        img {
            overflow: hidden; //控制图片不超出div
            object-fit: contain; //控制图片按照原比例收缩
        }
    }

    >:last-child {
        //登录框
        height: 500px;
        width: 400px;
        margin-right: 10%;
        box-shadow: 0 0 10px rgb(138, 189, 240);
    }
}