//TODO 这个文件暂时无用，应为引入了reset-css所以无用了
$color: #eee;

body {
    // 禁止选中文字
    margin: 0px !important;
    user-select: none;
    background-color: $color;
    display: flex;
}

img {
    // 禁止拖动图片
    -webkit-user-drag: none;
}